
    <%= form_for(@user,:url=>{:action=>'update_profile',:id=>current_user.id},:html=>{:class=>'cmxform'}) do |f| %>
       <div class="tabless">
            <div style="position: relative; left: 0px; top: 0px;" class="standalone" id="standalone">
                <div class="title">
                    Update Profile<br>
					   </div>
				<p class="legend">
        <strong>Note:</strong>
        Required fields are marked with an asterisk (<em>*</em>)
    </p>
                <div class="section">
                   <div class="label">
                        Enrollment Number:<em><font color="red">*</font></em>
                    </div>
                    <%= f.text_field :enrollment_number,:size=>30,:disabled => 'true' %>
                   <div class="label">
                        Email:<em><font color="red">*</font></em>
                    </div>
                    <%= f.text_field :email,:size=>30,:disabled => 'true' %>
                    <div class="label">
                        First Name:<em><font color="red">*</font></em>
                    </div>
                    <%= f.text_field :first_name,:size=>30 %>
                    <div class="label">
                        Last Name:<em><font color="red">*</font></em>
                    </div>
                    <%= f.text_field :last_name,:size=>30 %>
 
                    <div class="label">
                        Primary Contact Number:<em><font color="red">*</font></em> (Mobile/Telephone. Ex:+04412345678)
                    </div>
                    <%= f.text_field :mobile_number, :size=>30 %>
					 <div class="label">
                        Secondary Contact Number: (Mobile/Telephone. Ex:+04412345678)
                    </div>
                    <%= f.text_field :phone_number, :size=>30 %>
                </div>
				
				<div class="title">
				</div>
					<div class="label">
                        Password:<em><font color="red">*</font></em> (Min. Password Length is 4 characters)
                    </div>
                    <%= f.password_field :password, :size=>30 %>
                   <div class="label">
                        Confirm Password:<em><font color="red">*</font></em>
                    </div>
                    <%= f.password_field :password_confirmation, :size=>30 %>

				
                <div class="buttonbar">
                    <%= f.submit "Update" %>
                </div>
                <% end %>
            </div>
        </div>
