<div class="form-container">
    <fieldset>
 
        <div>
            <label>
                <b>First Name:</b>
            </label>
            <%=h @user.first_name %>
        </div>
        <hr/>
        <div>
            <label>
                <b>Last Name:</b>
            </label>
            <%=h @user.last_name %>
        </div>
        <hr/>
 
        <div>
            <label>
                <b>Email:</b>
            </label>
            <%=h @user.email %>
        </div>
        <hr/>
        <div>
            <label>
                <b>Phone:</b>
            </label>&nbsp;
            <%=h @user.phone_number %>
        </div>
        <hr/>
		      <div>
            <label>
                <b>Mobile:</b>
            </label>
			&nbsp;
            <%=h @user.mobile_number %>
        </div>
        <hr/>
        <div>
            <label>
                <b>Last login ip:</b>
            </label>
            <%=h @user.last_login_ip %>
        </div>
        <hr/>
        <div>
            <label>
                <b>Current login ip:</b>
            </label>
            <%=h @user.current_login_ip %>
        </div>
    </fieldset>
</div>
<br>
<a href="/student/edit/<%= current_user.id %>",  class="more">Edit Profile</a>
<a href="/student/change_pass/<%= current_user.id %>",  class="more">Change Password</a>