<h2>Examination Status</h2>
<table>
<tr>
<td><h3>Enrollment Number:</h3></td>
<td><h3> <font color="blue"><%=@user.enrollment_number%></font><h3></td>
</tr>
<tr>
<td><h3>User Email:</h3> </td>
<td><font color="blue"><h3><%=@user.email%></font></h3></td>
</tr>
</table>

<% if @userexaminations.count == 0%>
<h3>No Examinations are assigned for You yet!!!</h3>
<%else%>
<table id="box-table-a">
  <tr>
    <th scope="col">Examination Name</th>
	<th scope="col">Examination Status</th>
	<th scope="col">Exam Enrollment Date</th>
	<th scope="col">Exam Completion Date</th>
  </tr>

<% @userexaminations.each do |userexamination| %>
  <tr>
    <td><%= userexamination.examination.examname %></td>
	<td>
		<%if userexamination.exam_complete_status == false%>
		<font color="black">Pending</font>
		<%else%>
		<%if userexamination.result_status == true%>
		<font color="green">PASSED</font>
		<%else%>
		<font color="red">FAILED</font>
		<%end%>
		<%end%>
	</td>
	<td><%= userexamination.examination.created_at.strftime('%d-%b-%Y')%></td>
	<% if userexamination.exam_complete_status == false%>
	<td><font color="black">Yet to Complete</font></td>
	<%else%>
    <td><%= userexamination.updated_at.strftime('%d-%b-%Y')%></td>
    <%end%>
    </td>
  </tr>
<% end %>
</table>
<%end%>
<br />
<%= link_to "Back", :back,:class=>"more"%>
