<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<h2><%= @user.first_name %>&nbsp;<%= @user.last_name %></h2>
		<p>Welcome to LSSSP</p>
		<p>
			Your Lean Six Sigma Society of Professionals (LSSSP) pasword has been reset as under. Please store this for your future reference.
		</p>
		<p>
			Your login credentials are as follows:
			<br/>
			Username: <%= @user.email %>
			<br/>
			Your reset Password: <%= @user.enrollment_number %>
			<br/>
			Enrollment Number: <%= @user.enrollment_number%>
		</p>
		<p>
			Lean Six Sigma Society of Australasia (LSSSA) is the Asia-Pacific chapter for the global Lean Six Sigma Society of Professionals (LSSSP). In the event you may ever need support, please contact us on support@lsssp.org or your course provider.
		</p>
		<p>
			Thanks for joining and have a great day!
		</p>
	</body>
</html>
