<h1>List of  Users</h1>
<div>
<table>
<tr>
<td><%=link_to new_user_path,:class=>'more' do %>Create New User<% end %></td>
<td><%= link_to 'Import Users',{:action=>'upload'},:class=>'more' %></td>
<td><%= link_to 'Export Users',{:action=>'export'},:class=>'more' %></td>
<td width="550" align=right>
	<%= form_tag(controller_name, :method => 'get') do %>
	<%= text_field_tag :search, params[:search], :maxlength => 25, :class => "searchfield" %>
	<%= submit_tag "Search"%>
	<% end %>
</td>
</tr>
</table>
</div>
<table id="box-table-a">
	<tr>
		<th scope="col"> SNo</th>
		<th scope="col"> Enrollment #</th>
		<th scope="col"> First Name</th>
		<th scope="col"> Last Name</th>
		<th scope="col"> Email</th>
		<th scope="col"> Created On</th>
		<th scope='col'> Status</th>
		<th scope="col"> Actions</th>
	</tr>
	<% i = 1%>
	<% @users.each do |user| %>
	<tr>
		<td><%= i%></td>
		<td> <%= user.enrollment_number%></td>
		<td> <%= highlight(user.first_name,params[:search]) %></td>
		<td> <%= highlight(user.last_name,params[:search]) %></td>
		<td> <%= highlight(user.email,params[:search]) %></td>
		<td> <%= user.created_at.strftime('%d-%b-%Y')%></td>
		<td> <%if user.status == "Not Approved" %>
				Pending
			 <%else%>
					<%if user.verified_date?%>
					<%= user.verified_date.strftime('%d-%b-%Y')%>
					<%else%>
					<%end%>
			 <%end%>
		</td>
		<td> <%= link_to 'View', user %> | <%= link_to 'Edit', edit_user_path(user) %>
		<% unless (user.id == 1 || user.id == 2) %> |
		<%= link_to('Delete', user, :confirm => 'Are you sure?', :method => :delete)  %> | 
		<%= link_to 'Reset Password',:action=>'resetpassword',:id=>user.id%> | 
		<%= link_to 'Assign Exam', :controller => "userexaminations", :action=>"new", :user_id=> user.id %> | 
		<%= link_to 'Exam Status', :controller => "userexaminations", :action=>"exam_status", :user_id=> user.id %></td>
		<% end %>
		</td>
	</tr>
	<% i = i + 1%>
	<% end %>
</table>
<div class="flickr_pagination">
	<%= will_paginate @users, :container => false %>
	<div class='page_info'>
		<%= page_entries_info @users, :entry_name => 'Users' %>
	</div>
</div>

