<h1>List of  Users</h1>
<table id="box-table-a">
    <tr>
        <th scope="col">
            First Name
        </th>
		        <th scope="col">
            Last Name
        </th>
        <th scope="col">
            Email
        </th>
        <th scope="col">
            Actions
        </th>
    </tr>
    <% @users.each do |user| %>
	<%if user.id == 1 || user.id == 2%>
    <tr>
        <td>
            <%= user.first_name %>
        </td>
		<td>
            <%= user.last_name %>
        </td>
        <td>
            <%= user.email %>
        </td>
        <td>
            <%= link_to 'View', user %> | <%= link_to 'Edit', edit_user_path(user) %> 
        </td>
    </tr>
	<%else%>
    <tr>
        <td>
            <%= user.first_name %>
        </td>
		 <td>
            <%= user.last_name %>
        </td>

        <td>
            <%= user.email %>
        </td>
        <td>
            <%= link_to 'View', user %> | <%= link_to 'Edit', edit_user_path(user) %> | <%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %> | <%= link_to 'Assign Examination', :controller => "userexaminations", :action=>"new", :user_id=> user.id %>
        </td>
    </tr>
	
	<%end%>
    <% end %>
</table>
<div class="flickr_pagination">
	<%= will_paginate @users, :container => false %>
	<div class='page_info'>
		<%= page_entries_info @users, :entry_name => 'Users' %>
	</div>
</div>
<br/>
<%=link_to new_user_path,:class=>'more' do %>Create New User<% end %>
&nbsp;&nbsp;&nbsp;
<%= link_to 'Import Users',{:action=>'upload'},:class=>'more' %>
&nbsp;&nbsp;&nbsp;
<%= link_to 'Export Users',{:action=>'export'},:class=>'more' %>
