<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <title>LSSSP</title>
        <%= javascript_include_tag 'application','jquery-1.5.2.min','rails' %>
        <%= stylesheet_link_tag 'admin_screen' %>
        <%= csrf_meta_tag %>
    </head>
    <body>
        <div id="header">
            <%=link_to image_tag("adminlogo.png"),root_url %>
        </div>
        <%= form_for @user, :url =>{:action => "create"} do |f| %>
        <div class="tabless">
            <div style="position: relative; left: 0px; top: 0px;" class="standalone" id="standalone">
                <div class="title">
                    Enter Details for Registration<br>
					   </div>
				<p class="legend">
        <strong>Note:</strong>
        Required fields are marked with an asterisk (<em>*</em>)
    </p>
                <div class="section">
                    <div class="label">
                        First Name:<em><font color="red">*</font></em>
                    </div>
                    <%= f.text_field :first_name,:size=>30 %>
                    <div class="label">
                        Last Name:<em><font color="red">*</font></em>
                    </div>
                    <%= f.text_field :last_name,:size=>30 %>
                    <div class="label">
                        Email:<em><font color="red">*</font></em>
                    </div>
                    <%= f.text_field :email,:size=>30 %>
                    <%= f.hidden_field :password, :value=>@enrollment_number %>
                    <%= f.hidden_field :password_confirmation, :value=>@enrollment_number %>
					<%= f.hidden_field :enrollment_number, :value=>@enrollment_number%>
                    <div class="label">
                        Primary Contact Number:<em><font color="red">*</font></em> (Mobile/Telephone. Ex:+04412345678)
                    </div>
                    <%= f.text_field :mobile_number, :size=>30 %>
					 <div class="label">
                        Secondary Contact Number: (Mobile/Telephone. Ex:+04412345678)
                    </div>
                    <%= f.text_field :phone_number, :size=>30 %>
                </div>
				
                <div class="buttonbar">
                    <%= f.submit "Register" %>
                </div>
                <% end %>
            </div>
        </div>
        <center>
            <div id="footer">
                © 2011. The Site is compatible with Mozilla version 3 and above, Google Chrome and IE Version 9.
            </div>
        </center>
    </body>
</html>
