<div class="form-container">
	<table id="box-table-a">
		<thead>
			<tr>
				<th scope="col"> Option</th>
				<th scope="col"> Question and Solutions</th>
				<th scope="col">&nbsp;</th>
				<th scope="col"> Action</th>
			</tr>
		</thead>
		<%= form_for @questionbank, :url => { :action => "create" }, :html=>{:multipart => true} do |f| %><!-- :remote => true, -->
		<%=f.error_messages %>
		<div>
			Module Name:
			<b>
			<font color="green">
				<%= @module_name %>
			</font>
			</b>
			<%= f.hidden_field :subject_id %>
			
			<!-- get actual values from create action for edit -->
		</div>
		<tr>
			<td width="86px">
			<%= f.radio_button :question_option, 'random', :checked => true %>Random
			<br>
			<%= f.radio_button :question_option, 'mandatory' %>Mandatory
			</td>
			<td>
			<div id="textual">
				Question: <%= f.text_field :question_text %>
				<br>
				Solutions:
				<br>
				<%= radio_button("questionbank", "correct_answer", 1,{ :checked => true }) %><%= f.text_field :option1_text,:size=>"20" %>
				<br>
				<%= radio_button("questionbank", "correct_answer", 2) %><%= f.text_field :option2_text,:size=>"20" %>
				<br>
				<%= radio_button("questionbank", "correct_answer", 3) %><%= f.text_field :option3_text,:size=>"20" %>
				<br>
				<%= radio_button("questionbank", "correct_answer", 4) %><%= f.text_field :option4_text,:size=>"20" %>
				<br>
				<%= radio_button("questionbank", "correct_answer", 5) %><%= f.text_field :option5_text,:size=>"20" %>
				<!--
				<%= f.check_box :option1_text_check %><%= f.text_field :option1_text,:size=>"20" %>
				<br>
				<%= f.check_box :option2_text_check %><%= f.text_field :option2_text,:size=>"20" %>
				<br>
				<%= f.check_box :option3_text_check %><%= f.text_field :option3_text,:size=>"20" %>
				<br>
				<%= f.check_box :option4_text_check %><%= f.text_field :option4_text,:size=>"20" %>
				<br>
				<%= f.check_box :option5_text_check %><%= f.text_field :option5_text,:size=>"20" %>
				-->
			</div>
			<!--- End - Textual Div -->

			<!--			<%= f.radio_button :question_type, 'text', :id=>1, :class=>"question_type", :checked => 'checked' %>Text
			<br>
			<%= f.radio_button :question_type, 'image', :id=>2, :class=>"question_type" %>Image -->
			</td>
			<td>
			<!-- Begin - Textual Div -->
			<!--- Begin Graphical Div -->
			<div id="graphical">
				<%= f.file_field :question %>
				<br/>
				<br/>
				<%= f.file_field :option1,:size=>'20' %>
				<br/>
				<%= f.file_field :option2,:size=>'20' %>
				<br/>
				<%= f.file_field :option3,:size=>'20' %>
				<br/>
				<%= f.file_field :option4,:size=>'20' %>
				<br/>
				<%= f.file_field :option5,:size=>'20' %>
			</div>
			<!-- end of graphical format -->
			</td>
			<td>
			<div class="actions">
				<%= f.submit "Save" %>
			</div>
			</td>
		</tr>
		<% end %>
	</table>
</div>
