<table id="box-table-a">
    <tr>
        <th scope="col">
            Module
        </th>
        <th scope="col">
            Question
        </th>
        <th scope="col">
            Actions
        </th>
    </tr>
    <% @questionbanks.each do |questionbank| %>
    <% if questionbank.question_type == 'image' %>
    <tr>
        <td>
            <%= questionbank.subject.name %>
        </td>
        <td>
            <%= questionbank.question_file_name %>
        </td>
        <td>
            <%= link_to 'View', questionbank %>| <%= link_to 'Edit', edit_questionbank_path(questionbank) %> | <%= link_to 'Delete', questionbank, :confirm => 'Are you sure?', :method => :delete %>
        </td>
    </tr>
    <% elsif questionbank.question_type == 'text' %>
    <tr>
        <td>
            <%= questionbank.subject.name %>
        </td>
        <td>
            <%= truncate(questionbank.question_text,:length => 25, :separator => '..') %>
        </td>
        <td>
            <%= link_to 'View', questionbank %>| <%= link_to 'Edit', edit_questionbank_path(questionbank) %> | <%= link_to 'Delete', questionbank, :confirm => 'Are you sure?', :method => :delete %>
        </td>
    </tr>
    <% end %>
    <% end %>
</table>
