<h1>Select Module for Question Bank</h1>
<table id="box-table-a">
	<tr>
		<th scope="col"> Module</th>
		<th scope="col"> Actions</th>
	</tr>
	<% @subjects.each do |subject| %>
	<tr>
		<td> <%= subject.name %></td>
		<td> <%= link_to 'Create Question Bank', :controller => "questionbanks", :action=>"new", :module_id=>subject.id %></td>
	</tr>
	<% end %>
</table>
<br>
<h1>List Question Bank</h1>
<table id="box-table-a">
	<tr>
		<th scope="col"> SNo</th>
		<th scope="col"> Module</th>
		<th scope="col"> Question</th>
		<th scope="col"> Actions</th>
	</tr>
	<% i = 1 %>
	<% @questionbanks.each do |questionbank| %>

	<tr>
		<td> <%= i %></td>
		<td> <%= questionbank.subject.name %></td>
		<td> <%= questionbank.question_file_name %><%= truncate(questionbank.question_text,:length => 25, :separator => '..') %></td>
		<td> <%= link_to 'View', {:action => 'show', :id => questionbank.id} %>| <%= link_to 'Edit', :controller => "questionbanks", :action=>"edit", :id=>questionbank.id %></td>
	</tr>
	<% i = i + 1 %>
	<% end %>
</table>
<br/>

<div class="flickr_pagination">
	<%= will_paginate @questionbanks, :container => false %>
	<div class='page_info'>
		<%= page_entries_info @questionbanks, :entry_name => 'Questions' %>
	</div>
</div>
