<style>
    .leftpane {
        width: 130px;
        float: left;
        border: 0px solid #000;
        padding-top: 20px;
    }
    
    .rightpane {
        width: 130px;
        float: right;
        border: 0px solid #000;
        padding-top: 20px;
    }
    
    .centerpane {
        border: 0px solid #000;
        float: left;
        padding: 10px 0px 0 30px;
    }
</style>
<div class="leftpane">
    &nbsp;
</div>
<div class="rightpane">
    <b>Time Left: </b>
    <input id="disp" readonly="true" type="text" border="0" name="disp" size="5" class="inputtext">
    <br>
	<div id='confirm-dialog'>
    <a href="#" class="confirm" />Save & Logout</a>
	</div>
</div>
<div class="centerpane">
	<h4 align="left"><font size="2"><%=@exam_active.examination.examname%></font> is of <font size="2"><%=@exam_active.duration%></font> minutes containing <font size="2"><%=@total_questions%></font> questions and needs a minimum of<font size="2"> <%=@exam_active.examination.passmarks%></font>% to successfully pass this exam.</h4>
	<h4 align="left"><%= image_tag("pink.png", :size => "20x20")%> = un-attempted question  |  <%= image_tag("blue.png", :size => "20x20")%> = attempted question |  <%= image_tag("black.png", :size => "20x20")%> = current question</h4>
   
    <h3>Questions</h3>
    <% i = 1 %>
    <table align="center">
        <!-- TO Divide rows dynamically use Array method in_groups_of -->
		<% @activexams.in_groups_of(25, false) do |row_columns| %>
        <tr>
            <% for active_exam in row_columns %>
            <td>
                <!--<span class="<%=active_exam.question_id.eql?(@question.id) ? 'current' : 'loaded' %>" id="question_number_<%=active_exam.question_id%>"> -->
				<span class="<%=active_exam.answer.nil? ? 'loaded' : 'answered' %>" id="question_number_<%=active_exam.question_id%>">
                	<%=link_to i, {:action=>'show',:id=>active_exam.id,:exam_id=>params[:exam_id]},:remote=>true %>
                </span>
            </td>
            <% i = i + 1 %>
            <% end %>
        </tr>
        <% end %>
    </table>
    <div id="questionShow">
        <%= render 'question_show' %>
    </div>
    <div align="center">
    	<div id='confirm-dialog_end'>
    <a href="#" class="confirm" />Test Completed</a>
	</div>
</div>

</div>
<!--centerpane closed-->

<script type="text/javascript">
jQuery(function ($) {
	$('#confirm-dialog_end input.confirm, #confirm-dialog_end a.confirm').click(function (e) {
		e.preventDefault();
		tid = $("#disp").val();
		// example of calling the confirm function
		// you must use a callback function to perform the "yes" action
		confirm("You are about to end your Test. If you really want to quit, please click Yes. Otherwise, please click No", function () {
			window.location.href = "/activexam/test_complete?exam_id=<%= params[:exam_id]%>"
		});
	});
});
jQuery(function ($) {
	$('#confirm-dialog input.confirm, #confirm-dialog a.confirm').click(function (e) {
		e.preventDefault();
		tid = $("#disp").val();
		// example of calling the confirm function
		// you must use a callback function to perform the "yes" action
		confirm("You are about to Save your Test. If you really want to Save and Take this Test again, please click Yes. Otherwise, please click No", function () {
			window.location.href = "/activexam/save_exam?exam_id=<%= params[:exam_id] %>&time="+tid;
		});
	});
});
</script>
		<!-- modal content -->
		<div id='confirm'>
			<div class='header'><span>Confirm</span></div>
			<div class='message'></div>
			<div class='buttons'>
				<div class='no simplemodal-close'>No</div><div class='yes'>Yes</div>
			</div>
		</div>
		<!-- preload the images -->
		<div style='display:none'>
			<img src='img/confirm/header.gif' alt='' />
			<img src='img/confirm/button.gif' alt='' />
		</div>
	</div>
